body {
  background: #acaeb1;
  margin: 0;
}
main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text {
  outline: none;
  background: url("https://kettle.moodylass.com/dxyz.gif");
  background-size: contain;
  background-position: top left;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 9rem;
  font-weight: bold;
  font-family: sans-serif;
}
button {
    background-color: #ff11ff;
    border: 2px solid black;
    border-radius: 6px;
    padding: 10px 18px;
    font-size: 12px;
    color: white;
    font-weight: bold;
  }
#footer {
  height: {FOOTER_HEIGHT};
  background: aliceblue;
  width: 100%;
  text-align: center;
  line-height: {FOOTER_HEIGHT};
}
